extends ../template/layout

block content
  #content
    .row
      .small-12.columns
        h3.subheader Collections Page
    .row
      .small-12.columns
        #songs
          h3= song.title
          form(action='/songs/#{song.id}', method= 'post')
            input(type='hidden', name='_method', value='delete')
            button.button.alert(type='submit') Delete
          form(action='/songs/#{song.id}/edit', method= 'get')
            button.button(type='submit') Edit
          audio(src='/audios/#{song.filename}', controls=true)
          img(src=song.art)
          p= song.duration
          p= song.lyrics
          ul
            each genre in song.genres
              li= genre.name
          p= song.createdAt
